* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(204, 161, 68);
  color: black;
  /*background-image: url("019XZZ000004322U00016000_SVC2_.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}
.book {
  background-color: white;
  border-radius: 30px;
  padding: 20px 30px;
}
.book h1 {
  margin-top: 0.5rem;
  color: gray;
}
.book h4 {
  color: lightcoral;
  letter-spacing: 5px;
}
a {
  background-color: black;
  color: white;
  padding: 2px;
  margin: 10px 10px 10px 10px;
  text-decoration: none;
  text-transform: uppercase;
}
img {
  height: 300px;
}
